<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

  <bean id="entityManagerFactory"
    class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"
    lazy-init="true">
    <property name="persistenceUnitName" value="transactions-optional" />
  </bean>
  <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <bean
    class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

  <bean id="accountService" class="thesmith.eventhorizon.service.impl.AccountServiceImpl" />
  <bean id="userService" class="thesmith.eventhorizon.service.impl.UserServiceImpl" />
  <bean id="snapshotService" class="thesmith.eventhorizon.service.impl.SnapshotServiceImpl" />
  <bean id="statusService" class="thesmith.eventhorizon.service.impl.StatusServiceImpl">
    <constructor-arg>
      <map>
        <entry key="twitter" value-ref="twitterEventService" />
        <entry key="lastfm" value-ref="lastfmEventService" />
        <entry key="flickr" value-ref="flickrEventService" />
        <entry key="wordr" value-ref="wordrEventService" />
        <entry key="github" value-ref="githubEventService" />
      </map>
    </constructor-arg>
  </bean>

  <bean id="twitterEventService"
    class="thesmith.eventhorizon.service.impl.TwitterEventServiceImpl" />
  <bean id="lastfmEventService"
    class="thesmith.eventhorizon.service.impl.LastfmEventServiceImpl" />
  <bean id="flickrEventService"
    class="thesmith.eventhorizon.service.impl.FlickrEventServiceImpl" />
  <bean id="wordrEventService"
    class="thesmith.eventhorizon.service.impl.WordrEventServiceImpl" />
  <bean id="githubEventService"
    class="thesmith.eventhorizon.service.impl.GithubEventServiceImpl" />
    
  <bean id="cacheService" class="thesmith.eventhorizon.service.impl.CacheServiceImpl" />
  <bean id="cacheManager" class="net.sf.jsr107cache.CacheManager" factory-method="getInstance"/>
  <bean id="cacheFactory" factory-bean="cacheManager" factory-method="getCacheFactory" />

  <bean id="loginValidator" class="thesmith.eventhorizon.validator.LoginValidator" />
  <bean id="registerValidator" class="thesmith.eventhorizon.validator.RegisterValidator" />

  <context:component-scan base-package="thesmith.eventhorizon.controller" />
  <tx:annotation-driven />

  <!--
    Enables /[resource]/[action] to [Resource]Controller class mapping
  -->
  <bean id="classnameControllerMappings"
    class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />

  <!-- Enables annotated POJO @Controllers -->
  <bean
    class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

  <bean
    class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

  <bean id="freemarkerConfig"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
    <property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
    <property name="configLocation" value="classpath:freemarker.properties" />
  </bean>

  <bean id="contentNegotiatingViewResolver"
    class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
    <property name="order" value="1" />
    <property name="defaultContentType" value="text/html" />
    <property name="mediaTypes">
      <map>
        <entry key="ftl" value="text/html" />
        <entry key="xml" value="application/xml" />
        <entry key="json" value="application/json" />
        <entry key="atom" value="application/atom+xml" />
        <entry key="rss" value="application/rss+xml" />
      </map>
    </property>
    <property name="defaultViews">
      <list>
        <bean
          class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
          <property name="contentType" value="application/json" />
        </bean>
      </list>
    </property>
    <property name="viewResolvers">
      <list>
        <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
          <property name="contentType" value="text/html" />
          <property name="order" value="2" />
          <property name="cache" value="true" />
          <property name="prefix" value="" />
          <property name="suffix" value=".ftl" />
          <property name="exposeSpringMacroHelpers" value="true" />
        </bean>
      </list>
    </property>
  </bean>

  <bean id="messageSource"
    class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
        <value>errors</value>
      </list>
    </property>
  </bean>
</beans>
