<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

  <bean id="entityManagerFactory"
    class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"
    lazy-init="true">
    <property name="persistenceUnitName" value="transactions-optional" />
  </bean>
  <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <bean
    class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

  <bean id="accountService" class="thesmith.eventhorizon.service.impl.AccountServiceImpl" />
  <bean id="userService" class="thesmith.eventhorizon.service.impl.UserServiceImpl" />
  <bean id="statusService" class="thesmith.eventhorizon.service.impl.StatusServiceImpl" />

  <bean id="loginValidator" class="thesmith.eventhorizon.validator.LoginValidator" />
  <bean id="registerValidator" class="thesmith.eventhorizon.validator.RegisterValidator" />

  <context:component-scan base-package="thesmith.eventhorizon.controller" />
  <tx:annotation-driven />

  <!--
    Enables /[resource]/[action] to [Resource]Controller class mapping
  -->
  <bean id="classnameControllerMappings"
    class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />

  <!-- Enables annotated POJO @Controllers -->
  <bean
    class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

  <bean
    class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

  <bean id="freemarkerConfig"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
    <property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
    <property name="configLocation" value="classpath:freemarker.properties" />
  </bean>


  <bean id="viewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
    <property name="cache" value="true" />
    <property name="prefix" value="" />
    <property name="suffix" value=".ftl" />
    <!--
      if you want to use the Spring FreeMarker macros, set this property
      to true
    -->
    <property name="exposeSpringMacroHelpers" value="true" />
  </bean>

  <bean id="messageSource"
    class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
        <value>errors</value>
      </list>
    </property>
  </bean>
</beans>
