li{ margin: 26px 0; list-style:none; padding-left: 26px; background-position: left 2px; background-repeat:no-repeat; background-color:transparent; }

li.me{background-image:url('../gfx/london.png');}
li.bbc{background-image:url('../gfx/id.png');}
li.thing13{background-image:url('../gfx/thing13.png');}
li.bookmark{background-image:url('../gfx/delicious.png');}
li.flickr{background-image:url('../gfx/flickr.png');}
li.lastfm{background-image:url('../gfx/lastfm.png');}
li.twitter{background-image:url('../gfx/twitter.png');}
li.later{background-image:url('../gfx/instapaper.png');}
li.fb{background-image:url('../gfx/facebook.png');}
li.guardian{background-image:url('../gfx/guardian.png');}
li.greader{background-image:url('../gfx/greader.png');}
li.pop{background-image:url('../gfx/radiopop.png');}
li.dopplr{background-image:url('../gfx/dopplr.png');}
li.tshirt{background-image:url('../gfx/tshirt.png');}
li.iplayer{background-image:url('../gfx/iplayer.gif');}
li.wordr{background-image:url('../gfx/wordr.png');}
