li{ list-style:none; height: 4em; }
img { vertical-align: middle; }
input { border-bottom-left-radius: 5px 5px; border-bottom-right-radius: 5px 5px; border-top-left-radius: 5px 5px; border-top-right-radius: 5px 5px; border: 1px solid rgb(143, 143, 143); font-size: 1.3em; padding: 5px; width: 320px; }
label { font-size: 1.3em; padding-top: 9px; float: left; width: 6em; }
label.image { margin-top: 6px; padding: 0px; width: 9em; }
label.long { width: 14em; }
input.submit { margin-left: 101px; width: 7em; background-color:#3392ce; background-image:url(/gfx/submitbg.png); background-repeat:repeat-x; background-position:0 center; width:122px; border:1px solid #2c8ecc; color:white; font-size:1.4em; letter-spacing:.05em; cursor:pointer; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; }
input.submit:hover { background-position: -450px 50%; }
input.submit_long { margin-left: 13em; }
input.submit_inline { margin-left: 10px; }
div.row { padding: 2px; }
div.form { padding: 5px; }
span.error { font-size: 1.3em; padding-top: 9px; padding-left: 10px; color: #D00000; }

div.previous{ float: left; }
div.status_holder{ height: 3em; overflow: hidden; position: relative; float: left; width: 53em; margin-top: 7px;}
div.next{ float: left; }

span.status{ position: absolute; width: 50em; padding-left: 26px; background-repeat:no-repeat; background-color:transparent; }

a.image { color: transparent; padding: 0px 0px; border-bottom: 0px; }
a.image:hover { background: transparent; }

/*span.today{ opacity: 1; }
span.week{ opacity: 0.9; }
span.month{ opacity: 0.75; }
span.yonks{ opacity: 0.5; }*/

span.me{background-image:url('../gfx/london.png');}
span.bbc{background-image:url('../gfx/id.png');}
span.thing13{background-image:url('../gfx/thing13.png');}
span.tumblr{background-image:url('../gfx/tumblr.png');}
span.bookmark{background-image:url('../gfx/delicious.png');}
span.flickr{background-image:url('../gfx/flickr.png');}
span.lastfm{background-image:url('../gfx/lastfm.png');}
span.twitter{background-image:url('../gfx/twitter.png');}
span.later{background-image:url('../gfx/instapaper.png');}
span.fb{background-image:url('../gfx/facebook.png');}
span.guardian{background-image:url('../gfx/guardian.png');}
span.greader{background-image:url('../gfx/greader.png');}
span.pop{background-image:url('../gfx/radiopop.png');}
span.dopplr{background-image:url('../gfx/dopplr.png');}
span.tshirt{background-image:url('../gfx/tshirt.png');}
span.iplayer{background-image:url('../gfx/iplayer.gif');}
span.wordr{background-image:url('../gfx/wordr.png');}
span.github{background-image:url('../gfx/github.png');}
span.birth{background-image:url('../gfx/city.png');}
span.lives{background-image:url('../gfx/city.png');}

span.decorator { color: #808080; }

div.twitter_title{background-image:url('../gfx/twitter_full.png');}
div.lastfm_title{background-image:url('../gfx/lastfm_full.png');}
div.flickr_title{background-image:url('../gfx/flickr_full.png');}
div.wordr_title{background-image:url('../gfx/wordr_full.png');}
div.github_title{background-image:url('../gfx/github_full.png');}
div.tumblr_title{background-image:url('../gfx/tumblr_full.png');}
div.account_title{color: transparent; height: 45px; width: 145px; float:left; background-repeat:no-repeat; background-color:transparent;}
div.account_input{float: left; padding-top: 10px; padding-left: 10px;}

#twitter { border-bottom:2px solid #00DEEE; }
#lastfm { border-bottom:2px solid #D20039; }
#github { border-bottom:2px solid #000000; }
#wordr { border-bottom:2px solid #B60A02; }
#tumblr { border-bottom:2px solid #37516A; }
#flickr { border-bottom:2px solid #FD2A7D; }
#birth { border-bottom:2px solid #AAAAAA; }
#lives { border-bottom:2px solid #AAAAAA; }

#svg { height: 500px; z-index: -1; }
#slider { top: 0px; margin-top: 10px; width: 637px; position: absolute; }
#title_username { top: 100px; left: 100; z-index: 99; }

.ui-slider-horizontal { height: 0.2em; }
.ui-widget-content { background: transparent; color: black; }
.ui-slider-horizontal .ui-slider-handle { top: -0.5em; }
.ui-slider .ui-slider-handle { height: 0.8em; z-index: 101; }
.ui-widget-content { background-color: white; }
